site_name: Neurogebra Documentation
site_description: Neural-powered mathematics for AI developers
site_url: https://neurogebra.readthedocs.io
repo_url: https://github.com/fahiiim/NeuroGebra
repo_name: fahiiim/NeuroGebra

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
            show_category_heading: true
            members_order: source

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Tutorials:
      - Beginners: tutorials/beginner.md
      - Intermediate: tutorials/intermediate.md
      - Advanced: tutorials/advanced.md
  - Examples:
      - Custom Activation: examples/custom_activation.md
      - Custom Loss: examples/custom_loss.md
      - Training Expressions: examples/training_expressions.md
  - API Reference: api/reference.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/fahiiim/NeuroGebra
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/neurogebra/
